<div class="card my-3" post-id=`{{id}}`>
    <div class="card-header">
        <p class="title is-5 pl-3 py-2"><a href="/user/activity/{{author_id}}">@{{User.username}} said:</a></p>
    </div>
    <div class="card-content">
        <div class="content">
            {{text}}
        </div>
    </div>
    <div class="card-footer">
        <p class="pl-3 py-2">Created: {{format_date created_at}}</p>
        {{#if edited}}
        <p class="pl-3 py-2">Last Edited: {{format_date created_at}}</p>
        {{/if}}
    </div>
</div>