<!DOCTYPE html>
<html lang="en" class="has-background-grey-dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&#60;alpha-t3ch&#62;</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <header>
        <nav class="navbar is-dark">
            <div class="navbar-brand">
                <a href="/"
                    class="navbar-item is-size-3 has-text-weight-semibold has-text-info my-auto">&#60;alpha-t3ch&#62;</a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarFull">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navbarFull">
                <div class="navbar-start">
                    {{#if sessionInfo.loggedIn}}
                    <a href="/user/{{sessionInfo.user_id}}/activity" class="navbar-item">dashboard</a>
                    <a href="/account" class="navbar-item">edit account</a>
                    {{/if}}
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {{#if sessionInfo.loggedIn}}
                            <button class="button is-light" id="button-logout">
                                logout
                            </button>
                            {{else}}
                            <button class="button is-info" id="button-signup">
                                <strong>signup</strong>
                            </button>
                            <button class="button is-light" id="button-login">
                                login
                            </button>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    {{#if sessionInfo.loggedIn}}
    {{>logout}}
    {{else}}
    {{>signup}}
    {{>login}}
    {{/if}}
    {{{body}}}
</body>
<script src="/javascript/bulma.js"></script>
{{#if sessionInfo.loggedIn}}
<script src="/javascript/logout.js"></script>
{{else}}
<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>
{{/if}}
<script src="https://kit.fontawesome.com/e5db155810.js" crossorigin="anonymous"></script>
{{#if user.user_match}}
<script src="/javascript/newPost.js"></script>
{{/if}}
</html>